body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    text-align: center;
}

/* HEADER */
header {
    background: #5F33E1;
    color: white;
    padding: 40px;
}

/* HERO */
.hero {
    padding: 50px;
}

.hero img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.hero button {
    background: #5F33E1;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

/* SECTIONS */
section {
    padding: 40px;
}

/* PROJECT CARDS */
.card {
    background: white;
    margin: 10px auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
